[user]
	name = AndreJSON
	email = andre.v.json@gmail.com
[credential]
	helper = cache --timeout=4000
[github]
	user = AndreJSON
[merge]
	tool = emerge
[alias]
	co = checkout
	pm = push origin master
	st = status
	adda = add --all
	cm = commit -m
	ldiff = diff HEAD@{1} HEAD
[color]
	ui = true
